<ion-view view-title="Home">
    <!--<div class="bar bar-header">-->
    <!--<button class="button icon ion-navicon"></button>-->
    <!--<h1 class="title">Header Buttons</h1>-->
    <!--<button class="button">Edit</button>-->
    <!--</div>-->
    <div class="bar bar-footer bar-balanced">
        <button class="button button-icon icon ion-navicon"></button>
        <button class="button icon ion-navicon"></button>
        <div class="h1 title">Header Buttons</div>
        <button class="button button-clear button-positive">Edit</button>
    </div>

    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear">
            Cancel
        </button>
    </div>

    <ion-content class="has-header">

        <ion-list >
            <ion-item class="item-divider">Button
            </ion-item>
        </ion-list >
        <div class="row">
            <div class="col col-70">
                <!--<div class="text-center" style="border-color: #0c63ee;background-color: #387ef5;color: #fff; width: 150px; height: 30px;border-radius: 3px;vertical-text-align: middle;-->
                <!--padding-bottom: 10px;-->
                <!--padding-top: 10px;-->
                <!--" >-->
                <!--当前续航：70km-->
                <!--</div>-->
                <button class="" >
                    当前续航：70km
                </button>
            </div>
            <div class="col text-right"><span class="assertive">已还车</span></div>
        </div>
        <div class="row">
            <div class="col ">
                <input type="date">
            </div>
            <div class="col text-right">
                <input type="date">
            </div>
        </div>
        <div>
            <button class="button">
                Default
            </button>

            <button class="button button-light">
                button-light
            </button>

            <button class="button button-stable">
                button-stable
            </button>

            <button class="button button-positive">
                button-positive
            </button>

            <button class="button button-calm">
                button-calm
            </button>

            <button class="button button-balanced">
                button-balanced
            </button>

            <button class="button button-energized">
                button-energized
            </button>

            <button class="button button-assertive">
                button-assertive
            </button>

            <button class="button button-royal">
                button-royal
            </button>

            <button class="button button-dark">
                button-dark
            </button>
            <button class="button button-block button-positive">
                Block Button
            </button>
            <button class="button button-full button-positive">
                Full Width Block Button
            </button>
            <button class="button button-small button-assertive">
                Small Button
            </button>
            <button class="button button-large button-positive">
                Large Button
            </button>
            <button class="button button-outline button-positive">
                Outlined Button
            </button>
            <button class="button button-clear button-positive">
                Clear Button
            </button>
            <button class="button">
                <i class="icon ion-loading-c"></i> Loading...
            </button>

            <button class="button icon-left ion-home">Home</button>

            <button class="button icon-left ion-star button-positive">Favorites</button>

            <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

            <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

            <button class="button icon ion-gear-a"></button>

            <a class="button button-icon icon ion-settings"></a>

            <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
            <div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>
        </div>


        <div class="list">
            <ion-item class="item-divider">
            </ion-item>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                Check mail
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                Call Ma
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-mic-a"></i>
                Record album
            <span class="item-note">
      Grammy
    </span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">0</span>
            </a>

        </div>

        <div class="list">

            <div class="item item-button-right">
                Call Ma
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
        </div>
        <div class="list">

            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                I'm a Header in a Card!
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
            <div class="item item-divider">
                I'm a Footer in a Card!
            </div>
        </div>
        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                Enter home address
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                Enter phone number
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-wifi"></i>
                Enter wireless password
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Enter card information
            </a>

        </div>
        <div class="list card">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
        <ion-list >
            <ion-item class="item-divider">Input
            </ion-item>

            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comments"></textarea>
                </label>

            </div>

        </ion-list >
        <ion-list >
            <ion-item class="item-divider">Text Input: Floating Labels
            </ion-item>
        </ion-list >
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
        </div>

        <ion-list >
            <ion-item class="item-divider"> inset form
            </ion-item>
        </ion-list >
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name">
            </label>
        </div>
        <ion-list >
            <ion-item class="item-divider">Inset Inputs
            </ion-item>
        </ion-list >
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email">
                </label>
                <button class="button button-small">
                    Submit
                </button>
            </div>

        </div>
        <ion-list >
            <ion-item class="item-divider">Input Icons
            </ion-item>
        </ion-list >
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <ion-list >
            <ion-item class="item-divider">
            </ion-item>
        </ion-list >
        <div>
            <label class="toggle">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <ul class="list">

                <li class="item item-toggle">
                    HTML5
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Flux Capacitor
                </li>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Go
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Go
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <label class="item item-radio">
                        <input type="radio" name="group">
                        <div class="item-content">
                            Go
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </label>
            </ul>
            <div class="item range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume">
                <i class="icon ion-volume-high"></i>
            </div>

            <div class="list">
                <div class="item range range-positive">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-sunny"></i>
                </div>
            </div>

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Lightsaber
                    </div>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>

            </div>
        </div>

        <ion-list >
            <ion-item class="item-divider"> tabs
            </ion-item>
        </ion-list >
        <ion-list >
            <!--<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">-->
            <!--<div class="tabs">-->
            <!--<a class="tab-item active" href="#">-->
            <!--<i class="icon ion-home"></i>-->
            <!--Test-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-star"></i>-->
            <!--Favorites-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-gear-a"></i>-->
            <!--Settings-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="tabs-striped tabs-color-assertive">-->
            <!--<div class="tabs">-->
            <!--<a class="tab-item active" href="#">-->
            <!--<i class="icon ion-home"></i>-->
            <!--Test-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-star"></i>-->
            <!--Favorites-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-gear-a"></i>-->
            <!--Settings-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="tabs tabs-icon-top">-->
            <!--<div class="tabs tabs-icon-left">-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-home"></i>-->
            <!--Home-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-star"></i>-->
            <!--Favorites-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-gear-a"></i>-->
            <!--Settings-->
            <!--</a>-->
            <!--</div>-->

            <!--<div class="tabs">-->
            <!--<a class="tab-item">-->
            <!--Home-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--Favorites-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--Settings-->
            <!--</a>-->
            <!--</div>-->

            <!--<div class="tabs tabs-icon-only">-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-home"></i>-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-star"></i>-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-gear-a"></i>-->
            <!--</a>-->
            <!--</div>-->
        </ion-list >

        <div>
        </div>
        <ion-list >
            <ion-item class="item-divider">
            </ion-item>
        </ion-list >
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col col-50">.col.col-50</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col col-75">.col.col-75</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col">.col</div>
            <div class="col col-75">.col.col-75</div>
        </div>

        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col col-33 col-offset-33">.col</div>
            <div class="col">.col</div>
        </div>

        <div class="row">
            <div class="col col-33">.col</div>
            <div class="col col-33 col-offset-33">.col</div>
        </div>

        <div class="row">
            <div class="col col-33 col-offset-67">.col</div>
        </div>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row">
            <div class="col col-top">.col</div>
            <div class="col col-center">.col</div>
            <div class="col col-bottom">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-top">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-center">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-bottom">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row responsive-sm">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <ion-list >
            <ion-item class="item-divider"><i class="icon ion-star"></i>
            </ion-item>
        </ion-list >

        <div class="spacer" style="height: 120px;"></div>


    </ion-content>
</ion-view>
