
<ion-view title="资料认证">
    <ion-content class="has-header" padding="true">
        <div data-role="page" data-control-title="driverPhotoUpload" id="driverPhotoUpload">
            <div data-theme="a" data-role="header">
                <h1 class="ui-title">
                    驾驶证照片上传
                </h1>
                <a data-rel="back" href="#registerUpload" class="ui-btn ui-btn-right">
                    返回
                </a>
            </div>
            <div role="main" class="ui-content">
                <div style=" text-align:center" data-controltype="image">
                    <img style="width: 280px; height: 300px" >
                </div>
                <a id="driverPhotoUpload_select" href="#" class="ui-btn ">
                    选择图片
                </a>
                <a id="driverPhotoUpload_next" href="#/registerUpload" class="ui-btn ">
                    确定
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>