<ion-view class="item-divider" title="分享">
    <ion-content class="has-header" padding="true">
        <div style="background-color:#fff;">
            <div style="width: 300px; height: 8px;" class="spacer"></div>
            <div style="text-align: center; font-size: 22px;">
                <div class="ion-checkmark-circled" style="display:inline;color:green;"></div>
                <div style="display:inline;text-align:center;">注册成功</div>
            </div>
            <div style="width: 300px; height: 8px;" class="spacer"></div>
        </div>
        <div style="width: 300px; height: 21px;" class="spacer"></div>
        <div style="text-align:center;">
            <p>分享您的邀请码</p>
        </div>
        <div style="">
            <p>为出行计划积攒租车券，分享邀请给你的朋友，每成功邀请注册后，你可获得<span style="color:red;"> 10</span>元租车券，你的朋友首次可获得<span style="color:red;">50</span>元代金券。</p>
        </div>
        <div style="width: 300px; height: 29px;" class="spacer"></div>
    </ion-content>
</ion-view>
