<ion-view view-title="{{_APP_NAME}}/租车" class="stable2-bg">
    <!--<style>-->
    <!--.tabs-new > .tabs, .tabs.tabs-new  {-->
    <!--border-color: #fff;-->
    <!--background-color: #fff;-->
    <!--background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);-->
    <!--color: #56b5e1; }-->
    <!--.tabs-new  > .tabs .tab-item .badge, .tabs.tabs-new  .tab-item .badge {-->
    <!--background-color: #fff;-->
    <!--color: #ef473a; }-->
    <!--</style>-->
    <ion-content padding="false" >

        <div class="list">

            <img src="img/banner.jpg" class="full-image" style="padding-bottom: 7px;">

            <div class="item item-thumbnail-left-12 item-thumbnail-right-12" style="padding-top: 8px;padding-bottom: 8px; ">
                <img src="img/rentcar/index_rent_car.png"  />
                <span style="font-size: 14px;"><strong>租车</strong></span>

                <a ng-href="#/coupons">
                    <img class="item-image-right-12" src="img/rentcar/index_coupons_bg.png?1=2"  ng-click="go_url('coupons')" />
                </a>
            </div>

            <div class="item item-thumbnail-left-a item-icon-right" ng-click="go_url('rentCarNewOrder', {type:'day'})" >
                <img src="img/rentcar/index_day.png"  />

                白天时段<br>
                <span style="font-size: 13px; color:darkgray">当日上午9:00至下午18:00</span>
                <i class="icon positive" style="font-size: 16px;padding-right: 10px;">
                    50元&nbsp;
                    <span class="ion-chevron-right"></span>
                </i>
            </div>

            <div class="item item-thumbnail-left-a item-icon-right" ng-click="go_url('rentCarNewOrder', {type:'night'})">
                <img src="img/rentcar/index_night.png"  />
                夜间时段<br>
                <span style="font-size: 13px; color:darkgray">下午18:00至次日上午9:00</span>
                <i class="icon positive" style="font-size: 16px;padding-right: 10px;">
                    70元&nbsp;
                    <span class="ion-chevron-right"></span>
                </i>
            </div>


            <!-- 整租先暂时拿掉
            <div class="item item-thumbnail-left-a item-icon-right" ng-click="go_url('rentCarNewOrder', {type:'rentMore'})">
                <img src="img/rentcar/index_allday.png"  />
                自由租<br>
                <span style="font-size: 13px; color:darkgray">任意时间段的自由连续租用</span>
                <i class="icon positive" style="font-size: 16px;padding-right: 10px;">
                    120元&nbsp;
                    <span class="ion-chevron-right"></span>
                </i>
            </div>
            -->

            <div class="item stable2-bg" style="padding-top: 5px;padding-bottom: 5px">
            </div>
            <div class="item item-thumbnail-left-12" style="padding-top: 8px;padding-bottom: 8px; ">
                <img src="img/rentcar/index_more_service.png"  />
                <span style="font-size: 14px;"><strong>更多服务</strong></span>
            </div>
            <!--<div class="item item-thumbnail-left-a item-icon-right" ng-click="go_url('buyDayPack')">-->
            <div class="item item-thumbnail-left-a item-icon-right" ng-click="goBuy()">
                <img src="img/rentcar/index_more_day_pack.png"  />
                白天商务包月套餐
                <br>
                <span style="font-size: 13px; color:darkgray">30天内的工作日白天时段用车</span>
                <i class="icon positive" style="font-size: 16px;padding-right: 10px;">
                    900元&nbsp;
                    <span class="ion-chevron-right"></span>
                </i>
            </div>
            <div class="spacer" style="height: 7px;"></div>
        </div>
    </ion-content>
</ion-view>