<ion-view title="订单列表">
    <!--<style>-->
    <!--.carImg{-->
    <!--width: 20px;-->
    <!--height: 30px;-->
    <!--}-->
    <!--</style>-->

    <div class="bar bar-header bar-light">
        <a class="button button-clear button-positive" ng-href="#/tab/usercenter/mine">
            <i class="icon-left ion-chevron-left padding" ></i>我的
        </a>
        <!--<button class="button button-clear button-positive" ng-click="doRefresh()">-->
        <!--<i class="icon-right ion-android-refresh padding" ></i>-->
        <!--</button>-->
    </div>
    <ion-content class="has-header" padding="false" >
        <div collection-repeat="item in items">
            <div class="spacer" style="height:10px;"></div>

            <!--<div class="item item-divider" ng-click="showOrderDetails(item.orderId)">-->
            <div class="item item-divider" ng-click="go_url('orderDetails', {orderId: item.orderId})">
                <div>
                    <span class="item-note positive">
                            <div class="item-note positive">
                                <span class="padding">{{item.ordersState}}</span><i class="icon ion-chevron-right "></i>
                            </div>
                    </span>
                    <!--{{item.vehicleLicense}} <span class="item-note" >{{item.startTime}}-{{item.endTime}}</span>-->
                </div>
            </div>
            <div class="item item-thumbnail-left-l">
                <img ng-src="{{item.vehicleImg}}">

                <!--<div>-->
                <!--<span class="item-note" >{{item.orderId}}</span>-->
                <!--<p>订单编号</p>-->
                <!--</div>-->
                <!--<div>-->
                <!--<span class="item-note" >{{item.color}} </span>-->
                <!--&lt;!&ndash;<p>车型</p>&ndash;&gt;-->
                <!--<p>颜色</p>-->
                <!--</div>-->
                <div>
                    <span class="item-note" >￥{{item.shouldFee}}</span>
                    <p>订单金额</p>
                </div>
                <div>
                    <span class="item-note" >{{item.createTime}}</span>
                    <p>下单时间</p>
                </div>
                <div>
                    <span class="item-note" >{{item.orderType}}</span>
                    <p>用车方式</p>
                </div>
            </div>
            <div class="item item-divider" style="background-color: white;height: 15px;font-size: 12px;line-height: 10px;text-align: center; color: #aaa;">
                <!--{{item.createTime}}&nbsp;&nbsp;-&nbsp;&nbsp;{{item.createTime}}-->
                取车:{{item.startTime}}&nbsp;&nbsp;还车:{{item.endTime}}
                <!--<div>-->
                <!--<span class="item-note positive">-->
                <!--<div class="item-note positive">-->
                <!--<span class="padding">{{item.ordersState}}</span><i class="icon ion-chevron-right "></i>-->
                <!--</div>-->
                <!--</span>-->
                <!--&lt;!&ndash;{{item.vehicleLicense}} <span class="item-note" >{{item.startTime}}-{{item.endTime}}</span>&ndash;&gt;-->
                <!--</div>-->
            </div>

            <!--<div>-->
            <!--<span class="item-note" >{{item.startTime}}</span>-->
            <!--<p>用车日期</p>-->
            <!--</div>-->
        </div>

        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMoreItems()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>

        <div align="center" ng-show="items.length == 0">
            <img ng-src="img/DDGL-03.png" style="margin-bottom: 30px;margin-top: 40px;width: 100px;"><br>
            <span style="color: grey">您还没有下过订单哦</span>
            <div class="spacer" style="height: 30px;"></div>
            <a class="button button-positive button-outline button-block " ng-href="#/tab/home" style="width: 80%">去租车</a>
        </div>
    </ion-content>
</ion-view>