<label class="item item-input" ng-controller="DatepickerController" >
    <span class="input-label">取车时间</span>
    <input type="text" style="background-color: white;display: inline"
           placeholder="请选择取车时间"
           name="datepicker"
           ng-model="fromView"
           ng-click="setFromModal()"
           readonly>
</label>

<label class="item item-input" ng-controller="DatepickerController" >
    <span class="input-label">还车时间</span>
    <input type="text" style="background-color: white;display: inline"
           placeholder="请选择还车时间"
           name="datepicker"
           ng-model="toView"
           ng-click="setToModal()"
           readonly>
</label>