<ion-view title="我的包月包">

    <style>
        .nullItem{
            display: none;
        }
    </style>

    <div class="bar bar-header bar-light">
        <a class="button button-clear button-positive" ng-href="#/tab/usercenter/mine">
            <i class="icon-left ion-chevron-left padding" ></i>我的
        </a>
        <!--<button class="button button-clear button-positive" ng-click="doRefresh()">-->
            <!--<i class="icon-right ion-android-refresh padding" ></i>-->
        <!--</button>-->
    </div>
    <ion-content class="has-header" padding="false" >

        <div collection-repeat="package in packages">
            <div class="spacer" style="height: 1px;">
            </div>
            <div class="card">

                <div class="item item-divider item-text-wrap" ng-click="showDetail(package.id)">
                    <div>

                        <div class="item-note positive">
                            <span class="padding">{{package.useState}}</span><i class="icon ion-chevron-right "></i>
                        </div>

                        {{package.name}}
                    </div>
                </div>
                <div class="item item-text-wrap ">
                    <div>
                        <span class="item-note" >￥{{package.price}} </span>
                        <p>价格</p>
                         <!--<span class="item-note" ><span class="assertive" >{{package.price}}</span>元</span>-->
                    </div>
                    <div>
                        <span class="item-note" >{{package.buyTime}}</span>
                        <p>购买日</p>
                    </div>
                    <!--<div>-->
                        <!--启用日-->
                        <!--<span class="item-note" >{{package.startDate}}</span>-->
                    <!--</div>-->
                    <div>
                        <span class="item-note" >{{package.endDate}}</span>
                        <p>有效期</p>
                    </div>
                </div>
                <div class="item item-divider item-text-wrap ">
                    <span class="item-note">
                        {{package.timeDesc}}
                    </span>
                    &nbsp;
                </div>

            </div>
        </div>
        <div class="spacer" style="height: 20px;" ng-if="packages.length > 0">
        </div>
        <div align="center" ng-if="packages.length == 0">
        <!--<div class="{{nullClass}}" align="center">-->
            <div class="item" style="border-bottom-width: 0px;">
                <img ng-src="img/DDGL-03.png" style="margin-bottom: 30px;margin-top: 30px;width:100px;"><br>
                <div style="color: grey">您没有购买过包月包</div>
                <div class="divider" style="height: 20px;"></div>
                <!--<div class="button button-positive button-block button-outline" ng-click="go_url('buyDayPack',{rnd:1})">去购买</div>-->
                <div class="button button-positive button-block button-outline" ng-click="goBuyPack()">去购买</div>
            </div>
        </div>
    </ion-content>
</ion-view>

