<ion-view view-title="购买详情">
    <div class="bar bar-header bar-light">
        <a class="button button-clear button-positive" ng-click="go_url('buyDayPack')">
            <i class="icon-left ion-chevron-left padding"></i>返回
        </a>
    </div>
    <ion-content class="has-header" padding="false" >

        <ion-list>
            <ion-item style="font-size: 18px">
                {{checkedPack.name}}
            </ion-item>
            <ion-item>
                <span style="font-size: 16px;color:#666">时&nbsp;&nbsp;&nbsp;间：</span>{{checkedPack.timeDesc}} 共{{checkedPack.packageDay}}天
                <br>
                <span style="font-size: 16px;color:#666">金&nbsp;&nbsp;&nbsp;额：</span>{{checkedPack.price}}元
            </ion-item>
            <ion-item class="item-divider" ng-if="coupons.length > 0">
            </ion-item>
            <ion-item class="item-select " ng-if="coupons.length > 0">

                <label class="select">
                    <select ng-model="model.cou.couId">
                        <option value="" ng-if="coupons.length > 0">去使用</option>
                        <!--<option ng-repeat="coup in coupons" value={{coup.id}}>{{coup.couponPar}}{{coup.parType}}</option>-->
                        <option ng-repeat="coup in coupons" value={{coup.id}}>{{coup.couponPar}}{{coup.parType}}&nbsp;有效期:{{coup.endDate}}</option>
                    </select>
                </label>
                <span style="background-color: #ef473a;color: #fff;padding: 8px 10px;">
                    我的代金券 {{coupons.length}}
                </span>

            </ion-item>

            <ion-item class="item-divider">
            </ion-item>

            <ion-item class="item-checkbox item-checkbox-right">
                账户余额支付：{{accountPay}}元
            </ion-item>
            <!--todo 暂时只支持余额支付-->
            <!--<ion-item class="item-checkbox item-checkbox-right" >-->
            <!--账户余额支付：{{accountPay}}元-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" ng-checked="true">-->
            <!--</label>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-divider">-->
            <!--</ion-item>-->

            <!--<ion-item  >-->
            <!--还需支付：{{morePay}}元-->
            <!--</ion-item>-->
            <!--<ion-item class="item item-checkbox item-checkbox-right " >-->
            <!--<i class="icon ion-arrow-right-b"></i>-->
            <!--绑定的信用卡支付-->
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" ng-checked="true">-->
            <!--</label>-->
            <!--</ion-item>-->
            <!--<ion-item class="item-checkbox item-checkbox-right" >-->
            <!--<i class="icon ion-arrow-right-b"></i>-->
            <!--微信支付-->

            <!--<label class="checkbox">-->
            <!--<input type="checkbox" ng-checked="true">-->
            <!--</label>-->
            <!--</ion-item>-->
            <ion-item class="stable-bg">
                <div class="spacer" style="height: 10px;"></div>
                <button class="button button-positive button-block " ng-click="buy()">确认支付</button>
                <div class="spacer" style="height: 10px;"></div>
                <!--<p><i class="icon ion-alert-circled positive"></i>&nbsp;截止日期：<span class="positive">TODO</span></p>-->

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>